

:root {
    --bgd-color: #161414;
    --key-color-grey-dark: #241e1e;
    --key-color-grey-light: #4e4e4e;
    --key-color-grey: #818384;
    --text-color: #f8f8f8;
}

* {
    background-color: var(--bgd-color);
}

.game-section {
    position: relative;
    max-width: 600px;
    border: 2px solid red;
    text-align: center;
    margin: 30px auto;
    color: var(--text-color);
	cursor: default;
}

.grid {
    position: relative;
    border: 2px solid blue;
    height: 300px;
    margin: 30px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    row-gap: 10px;
    border: 2px solid rgb(0, 255, 0);
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.keyboard-row-narrow {
    width: 90%;
}

.key {
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    flex: 1;
    background-color: var(--key-color-grey);
    font-size: 1.45em;
    font-weight: bold;
    line-height: 70px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    border: none;
    /* border: 3px solid var(--key-color-grey-light); */
}

.key:hover {
    background-color: var(--key-color-grey-light);
}

.styled-hr {
    border: none;
    height: 2px;
    margin: 20px 0;
    background-color: var(--border-color);
}
